{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "exclude": ["\\.test\\.ts$", "\\.spec\\.ts$"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "useDefineForClassFields": false
    },
    "target": "es2023",
    "keepClassNames": true
  },
  "module": {
    "type": "es6"
  }
}
